
        <div class="new">
            <div class="posts_top">
                <p>新規ユーザ登録</p>
            </div>

            <div class="new_container">
                <% @user.errors.full_messages.each do |message| %>
                <div class="form-error">
                    <%= message %>
                </div>
                <% end %>
                <%= form_tag("/users/create") do %>

                <p class="midashi">ユーザ名</p>
                <input type="text" class="form-control" name="user_name" value="<%= @user.name %>">

                <p class="midashi">E-mail</p>
                <input type="text" class="form-control" name="email" value="<%= @user.email %>">

                <p class="midashi">パスワード</p>
                <input type="password" class="form-control" name="password" value="<%= @user.password %>">

                <button type="submit" class="btn btn-primary submit_btn">登録</button>

                <% end %>
            </div>

            <div class="return-top">
                <a href="#">トップ画面に戻る</a>
            </div>
        </div>