
        <div class="new">
            <div class="posts_top">
                <p>ユーザ情報</p>
            </div>

            <div class="new_container">

                 

                <img src="
                    <% if @user.twitter_image != nil %>
                        <%= "#{@user.twitter_image}" %>
                    <% else %>
                        <%= "/user_images/#{@user.image_name}" %>
                    <% end %>
                " class="user_image2">

                <p class="midashi">ユーザ名</p>
                <p><%= @user.name %></p>

                <ul class="flex flex-right">
                    <li class="content-edit"><%= link_to("編集","/users/#{@user.id}/edit") %></li>
                </ul>
            </div>

            <div class="return-top">
                <%= link_to("トップに戻る","/posts/index") %>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <% @user.posts.each do |post| %>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <%= link_to("/posts/#{post.id}") do %>
                    <div class="main-contents">
                        <div class="main-image">
                            <img src="http://images-jp.amazon.com/images/P/<%= post[:isbn_code] %>.09.LZZZZZZZ">
                        </div>
                        <div class="content-wrapper">
                            <div class="book-title">
                                <p><%= link_to(post.book_title,"/posts/#{post.id}") %></p>
                            </div>
                            <div class="main-message">
                                <%= post[:book_message] %>
                            </div>

                            <div class="left-container">
                                <%= link_to("/posts/#{post.id}") do %>
                                    <span class="fa fa-heart like_button"></span>：<% if post.like_count == nil %>
                                        0
                                    <% else %>
                                        <%= post.like_count %>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="right-container">
                                <img src="
                                <% if post.user.twitter_image != nil %>
                                    <%= "#{post.user.twitter_image}" %>
                                <% else %>
                                    <%= "/user_images/#{post.user.image_name}" %>
                                <% end %>
                                " class="user_image3">
                                <div class="main-user"><%= post.user.name %></div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
                <% end %>
            </div>
        </div>