
        <div class="show">

            <div class="show-image">
               <img src="http://images-jp.amazon.com/images/P/<%= @post.isbn_code %>.09.LZZZZZZZ">
            </div>
            <div class="book-title-show">
                <p><%= @post.book_title %></p>
            </div>
            <div class="buy">
                <a href="<%= @post.amazon_url %>" class="btn-stitch" target=”_blank”>購入ページへ</a>
            </div>
            <div class="post-user flex space">
                <p class="bold"><%= @user.name %></p>
                <p class="post-time"><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
            </div>
            <div class="post-message">
                <p><%= @post.book_message %></p>
            </div>

            <div class ="like">

                <p>読んでみたい！読んだことある！と思ったらイイねを押しましょう！</p>

                <% if Like.find_by(user_id: @current_user.id,post_id: @post.id) %>
                    <%= link_to("/likes/#{@post.id}/destroy", {method: "post",class: "font"} ) do %>
                        <span class="fa fa-heart like-btn-unlike"></span>
                    <% end %>
                <% else %>
                    <%= link_to("/likes/#{@post.id}/create", {method: "post",class: "font"} ) do %>
                        <span class="fa fa-heart like-btn"></span>
                    <% end %>
                <% end %>
                <%= @likes_count %>
            </div>

            <div class="twitter-link">
                <%= link_to("#{@user.name}","/users/#{@user.id}/show") %>さんの投稿一覧を見る
            </div>

            <% if @post.user_id == @current_user.id %>
                <ul class="flex flex-right">
                    <li class="content-edit"><%= link_to("編集","/posts/#{@post.id}/edit") %></li>
                    <li class="content-edit"><%= link_to("削除","/posts/#{@post.id}/destroy",{method: "post"}) %></li>
                </ul>
            <% end %>
            <div class="return-top">
                <%= link_to("トップに戻る","/posts/index") %>
            </div>
        </div>