<!DOCTYPE html>
<html>
  <head>
    <title>BookShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@freepc_yuki">
    <meta name="twitter:creator" content="@freepc_yuki">
    <meta name="twitter:title" content="オススメの一冊">
    <meta name="twitter:description" content="この本を是非とも紹介したいというオススメの一冊を、みんなで投稿して共有しよう！">
    <meta name="twitter:image:src" content="<%= asset_url('osusume_twitter.png') %>" >

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- FontAwesome5 -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

       <div class="top-wrapper">
        <div class="top-message flex space">
            <div class="top-left">
                <% current_user = User.find_by(id: session[:user_id]) %>
                <% if current_user %>
                  <p class="smile">こんにちは、<%= link_to("/users/#{current_user.id}/show",{class: "current-user"}) do %>
                      <%= current_user.name %>
                      <% end %>さん！</p>
                <% else %><p class="smile">こんにちは、ゲストさん！</p>
                <% end %>
            </div>
            <ul class="top-right">
              <% if current_user %>
              <li>
                <%= link_to("新規投稿","/posts/new", {class: "top-menu new-post"}) %>
              </li>
              <li>
                <%= link_to("ログアウト","/logout",{class: "top-menu top-logout",method: :post}) %>
              </li>
              <% else %>
              <li>
                <%= link_to("Twitterでログイン","/auth/twitter",{class: "top-menu login"}) %>
              </li>
              <li>
                <%= link_to("ログイン","/login",{class: "top-menu login"}) %>
              </li>
              <li>
                <%= link_to("新規ユーザ登録","/signup", {class: "top-menu new-post"}) %>
              </li>
              <% end %>
            </ul>
        </div>
    </div>

    <% if flash[:notice] %>
          <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div class="top-logo">
      <a href="/posts/index"><%= image_tag('osusume.png') %></a>
    </div>

        

    <%= yield %>
  </body>
  
  <footer>
    <p>© 2019 長岡勇輝, All Rights Reserved.</p>
  </footer>
</html>
